<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Configuration File</comment>
    <entry key="TessVersion">5.2.0</entry>
    <entry key="ReleaseDate">2022/07/10</entry>
    <entry key="Version">v6.3.1</entry>
</properties>
