<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Configuration File</comment>
    <entry key="TessVersion">4.00alpha</entry>
    <entry key="ReleaseDate">2018/02/18</entry>
    <entry key="Version">v5.0 alpha</entry>
</properties>
