<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Configuration File</comment>
    <entry key="TessVersion">5.4.1</entry>
    <entry key="ReleaseDate">2024/08/20</entry>
    <entry key="Version">v6.14.1</entry>
</properties>
